/* --------------------------------------------------Todos-------------------------------------------------------- */

.extra {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --------------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------Cadastros---------------------------------------------------- */

.container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(40, 110, 240);
    border-radius: 20px;
    color: white;
    font-family: "Evo";
}

.title {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: larger;
}

.form {
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 7px;
    background-color: rgb(0, 75, 240);
    padding: 15px;
    margin-bottom: 30px;
}

.input {
    border-radius: 7px;
    border-color: white;
}

input {
    border-radius: 7px;
    border-color: white;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.buttons input {
    border-radius: 7px;
}

.bt1 {
    background-color: rgb(0, 255, 0);
    border-color: rgb(0, 255, 0);
    font-family: "Evo";
}

.bt2 {
    background-color: rgb(255, 255, 0);
    border-color: rgb(255, 255, 0);
    font-family: "Evo";
}

.bt3 {
    background-color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
    font-family: "Evo";
}

.bt4 {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font-family: "Evo";
}

@font-face {
    font-family: "Evo";
    src: url(Evogria.otf);
}

/* --------------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------Login-------------------------------------------------------- */

.btl {
    background-color: rgb(0, 255, 0);
    border-color: rgb(0, 255, 0);
    font-family: "Evo";    
}

/* --------------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------Menu-------------------------------------------------------- */

.menu {
    background-color: rgb(0, 75, 240);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    padding: 20px;
    margin-bottom: 30px;
}

.menu a {
    text-decoration: none;
    color: white;
    background-color: rgb(0, 119, 255);
    border-radius: 5px;
}

.menu a:hover {
    color: rgb(0, 0, 0);
    transition: 0.3s;
    text-decoration:underline;
}

.disclaimer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
}

/* --------------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------Home--------------------------------------------------------- */

html {
    height: 100%;
}

#bodyHome {
    margin: 0;
    height: 100%;
}

.page {
    height:100%;
    width: 100%;
}

#line {
    display: flex;
    align-items: center;
    background-color: #252525;
    font-weight: bold;
    animation: changeColor 0.5s infinite alternate;
    height: 30px;

}

  @keyframes changeColor {
    0%   { color: rgb(108, 2, 170); }
    20%  { color: red; }
    40%  { color: orange; }
    60%  { color: yellow; }
    80%  { color: rgb(0, 255, 0); }
    100% { color: rgb(0, 238, 255); }
  }

#line h5 {
    margin: 0;
    margin-left: 0.5%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
    height: 140px;
    width: 100%;
    box-shadow: 3px 3px 10px #000000;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 550px;
    justify-content: space-between;
    margin: 20px;
    position: relative;
}

.cart {
    display: flex;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #ff6b00;
    border-radius: 20px;
    right: 15px;
    position: absolute;
}

.login h1 {
    margin: 0px;
}

.login a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

.login a:hover {
    transition: 0.3s;
    color: black;   
}

.image {
justify-content: center;
position: relative;
left: 10px;
}

.img {
    height: 120px;
    width: 240px;
}

.filter {
    display: flex;
    font-family: "Verdana";
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #000000;
    flex-direction: column;
    border-right: 2px solid #000000;
    box-shadow: 3px 3px 10px #000000;
}

.filters {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.filter select {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-color: #111111;
    background-color: #111111;
    color: #ff6b00;
    width: 200px;
    font-family: "Verdana";
}

.filter h1 {
    margin: 0px
}

.filter select {
    border-radius: 15px;
    border-color: #ff6b00;
    font-size: 22px;
    font-family: "Ahkio-Thin";
    
    appearance: none;
    -moz-appearance: none;
    background-image: url("../images/frecha.png");
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.filter-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter form {
    margin: 0px;
    padding: 20px;
}

.search {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search input {
    background-color: #111111;
    border-color: #ff6b00;
    color: #ff6b00;
    font-family: "Verdana";
    border-radius: 10px;
}

.category {
    color: #ff6b00;
}

#display {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.books {
    background-color: #252525;
    flex: 1;
    height: auto;
    width: auto;
    flex-wrap: wrap;
    overflow: auto;
}

.items form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    width: 275px;
    margin: 20px;
}

.items p {
    padding-left: 5%;
}

.products-images {
    height: 250px;
    width: 250px;
    margin-top: 10px;
}

.products-rows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
}

.button-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.button-info button {
    background-color: rgb(0, 229, 255, 1);
    border-color: rgb(0, 229, 255, 1);
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

.cart_div {
	float:right;
    right: 50px;
	font-weight:bold;
	position:relative;
	}

.cart_div a {
    display: flex;
    flex-direction: column;
	color:#ffffff;
    text-decoration: none;
	}

.cart_div span {
	font-size: 12px;
	line-height: 14px;
	background: rgb(0, 229, 255, 1);
	padding: 2px;
	border: 2px solid #000000;
	border-radius: 50%;
	position: absolute;
	top: -1px;
	left: 20px;
	color: #000000;
	width: 15px;
	height: 15px;
	text-align: center;
	}

.cart .remove {
	background: none;
	border: none;
	color: #0067ab;
	cursor: pointer;
	padding: 0px;
	}

.cart .remove:hover {
	text-decoration:underline;
	}

@font-face {
    font-family: "Floriane";
    src: url(Florilane.ttf);
}

@font-face {
    font-family: "Ahkio-Thin";
    src: url(Ahkio-Thin.ttf);
}

/* --------------------------------------------------------------------------------------------------------------- */