/* --------------------------------------------------Todos-------------------------------------------------------- */

.extra {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --------------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------Cadastros---------------------------------------------------- */

.container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(40, 110, 240);
    border-radius: 20px;
    color: white;
    font-family: "Evo";
}

.title {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: larger;
}

.form {
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 7px;
    background-color: rgb(0, 75, 240);
    padding: 15px;
    margin-bottom: 30px;
}

.input {
    border-radius: 7px;
    border-color: white;
}

input {
    border-radius: 7px;
    border-color: white;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.buttons input {
    border-radius: 7px;
}

.bt1 {
    background-color: rgb(0, 255, 0);
    border-color: rgb(0, 255, 0);
    font-family: "Evo";
}

.bt2 {
    background-color: rgb(255, 255, 0);
    border-color: rgb(255, 255, 0);
    font-family: "Evo";
}

.bt3 {
    background-color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
    font-family: "Evo";
}

.bt4 {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    font-family: "Evo";
}

@font-face {
    font-family: "Evo";
    src: url(Evogria.otf);
}

/* --------------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------Login-------------------------------------------------------- */

.btl {
    background-color: rgb(0, 255, 0);
    border-color: rgb(0, 255, 0);
    font-family: "Evo";    
}

/* --------------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------Menu-------------------------------------------------------- */

.menu {
    background-color: rgb(0, 75, 240);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    padding: 20px;
    margin-bottom: 30px;
}

.menu a {
    text-decoration: none;
    color: white;
    background-color: rgb(0, 119, 255);
    border-radius: 5px;
}

.menu a:hover {
    color: rgb(0, 0, 0);
    transition: 0.3s;
    text-decoration:underline;
}

.disclaimer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
}

/* --------------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------Home--------------------------------------------------------- */

html {
    height: 100%;
}

#bodyHome {
    margin: 0;
    height: 100%;
}

.page {
    height:100%;
    width: 100%;
}

#line {
    display: flex;
    align-items: center;
    background-color: rgb(0, 40, 240);
    font-weight: bold;
    animation: changeColor 0.5s infinite alternate;
    height: 30px;
}

  @keyframes changeColor {
    0%   { color: rgb(108, 2, 170); }
    10%  { color: red; }
    25%  { color: orange; }
    50%  { color: yellow; }
    75%  { color: rgb(0, 255, 0); }
    100% { color: rgb(0, 238, 255); }
  }

#line h5 {
    margin: 0;
    margin-left: 0.5%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 75, 240);
    height: 140px;
    width: 100%;
    font-family: "Ahkio";
}

#box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 425px;
    justify-content: space-between;
    margin: 1%;
}

#title2 {
    font-size: 28px;
}

#title2 h1 {
    margin: 0px;
    width: 262px;
    color: white;
}

#login {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 3%;
    background-color: rgb(0, 40, 200);
    border-radius: 20px;
}

#login h1 {
    margin: 0px;
}

#login a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

#login a:hover {
    transition: 0.3s;
    color: black;   
}

.image {
justify-content: center;
margin: 2%;
}

.img {
    height: 100px;
    width: 100px;
}

#filter {
    height: 100%;
    width: 300px;
    display: flex;
    background-color: rgb(192, 192, 192);
    flex-direction: column;
    position: fixed;
}

#filter h1 {
    margin: 0px
}

#filters {
    display: flex;
    justify-content: center;
    font-family: "Ahkio-Thin";
    font-size: 30px;
}

#filters select {
    border-radius: 20px;
    border-color: white;
    font-size: 22px;
    font-family: "Ahkio-Thin";
}

@font-face {
    font-family: "Ahkio";
    src: url(Ahkio-Bold.ttf);
}

@font-face {
    font-family: "Ahkio-Thin";
    src: url(Ahkio-Thin.ttf);
}

/* --------------------------------------------------------------------------------------------------------------- */